In [2]:
# Import libraries and dependencies

import pandas as pd
from pathlib import Path

In [168]:
# Set the path

file_path = Path("../PyBank/budget_data.csv")

budget_csv = pd.read_csv(file_path)
budget_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [171]:
# Set the date as the index to the Budget data

budget_csv = budget_csv.set_index(pd.to_datetime(budget_csv["Date"], infer_datetime_format=True))
budget_csv.head()
budget_csv.drop(["Date"], axis =1)

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503
...                   ...
2016-10-01         102685
2016-11-01         795914
2016-12-01          60988
2017-01-01         138230
2017-02-01         671099

[86 rows x 1 columns]

In [300]:
# Data checking 1 - total number (rows,columns)

budget_csv.shape

(86, 2)

In [173]:
# Data checking 2 - any null values??

budget_csv.isnull().mean()*100

Date             0.0
Profit/Losses    0.0
dtype: float64

In [301]:
# The total number of months included in the dataset.

budget_csv.count()
total_months = Date
total_months

86

In [304]:
#The net total amount of Profit/Losses over the entire period.

total = "Profit/Losses"
total = budget_csv[total].sum()
total

38382578

In [326]:
# Changing Profit/Losses and Average Change column names

average_change.columns = (["profit_losses", "average_change"])

# Calculating average of the changes in Profit/Losses over the entire period.

average_change = average_change["profit_losses"].to_frame()
average_change["average_change"] = average_change["profit_losses"].diff(1)
average_change.dropna
average_change.head()

            profit_losses  average_change
Date
2010-01-01         867884             NaN
2010-02-01         984655        116771.0
2010-03-01         322013       -662642.0
2010-04-01         -69417       -391430.0
2010-05-01         310503        379920.0

In [259]:
# Finding the average of the changes in Profit/Losses over the entire period - Final result and rounded by 2 decimal places

avg = round(average_change.mean(), 2)
avg

Profit_Losses     446309.05
Average_Change     -2315.12
dtype: float64

In [318]:
# Find information for the greatest increase in profits (date and amount) over the entire period.
## Dropped the profit_losses column
### Then print the information

grt_increase = average_change[average_change["average_change"]==average_change["average_change"].max()]
grt_increase.drop(["profit_losses"], axis=1)

            average_change
Date
2012-02-01       1926159.0

In [317]:
# Find information for the greatest decrease in profits (date and amount) over the entire period.
## Dropped the profit_losses column
### Then print the information

grt_decrease = average_change[average_change["average_change"]==average_change["average_change"].min()]
grt_decrease.drop(["profit_losses"], axis=1)

            average_change
Date
2013-09-01      -2196167.0

In [308]:
# Double checking max and min information matches with results extracted above 
## Utilising the describe function

average_change.describe()

       profit_losses  average_change
count   8.600000e+01    8.500000e+01
mean    4.463090e+05   -2.315118e+03
std     5.363579e+05    7.634372e+05
min    -1.196225e+06   -2.196167e+06
25%     1.821620e+05   -3.686650e+05
50%     5.703280e+05    7.724200e+04
75%     7.952262e+05    3.983190e+05
max     1.170593e+06    1.926159e+06

In [311]:
#Printing out the final results analysis for assignment
## Information extracted from analysis above using the print and f string function

print(f"Financial Analysis")
print(F"-----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: $-2315.12")
print(f"Greatest Increase in Profits: 2012-02-01 ($1926159.0)")
print(f"Greatest decrease in Profits: 2013-09-01 ($-2196167.0)")

Financial Analysis
-----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: 2012-02-01 ($1926159.0)
Greatest decrease in Profits: 2013-09-01 ($-2196167.0)

In [319]:
# Printing out the final results analysis for assignment as a text file
## Output text file name Financial Analysis

output_path = 'Financial Analysis.txt'

with open(output_path, 'w') as file:
    # Write daily_average to the output file, convert to string
    file.write(f"Financial Analysis")
    file.write(F"-----------------------------")
    file.write(f"Total Months: {total_months}")
    file.write(f"Total: ${total}")
    file.write(f"Average Change: $-2315.12")
    file.write(f"Greatest Increase in Profits: 2012-02-01 ($1926159.0)")
    file.write(f"Greatest decrease in Profits: 2013-09-01 ($-2196167.0)")